@inherits LayoutComponentBase
<RadzenComponents @rendermode="InteractiveServer" />

<RadzenLayout>
    <Navigation />
    <RadzenBody>
        <div class="rz-p-0">
            @Body
        </div>
    </RadzenBody>
</RadzenLayout>
